/* // Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #d0e9c6;
}

form {
    max-width: 400px;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 6px 10px;
    background-color: #4caf50;
    color: white;
    border: 1px red solid;
    border-radius: 4px;
    cursor: pointer;
}

.success-message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    border-radius: 4px;
    color: #3c763d;
}

table {
    margin-top: 10px;
}
table, th, td {
    border: 1px solid;
  }